.card{
    padding: 0px 25px;
    border-radius: 10px;
}

.income-heading{
    margin-top: 12px;
    margin-bottom: 0px;
    font-family: 'Lato';
    letter-spacing: 1px;
    font-size: 40px;
    text-align: center;
}

.income-contents p{
    margin-left: 15px;
    margin-bottom: 0px;
    font-family: 'Lato';
    font-size: 30px;
}

.money-icon{
    font-size: 10.5vw;
}

.card-padding{
    padding: 15px !important;
}

.fa-pencil-square-o, .fa-remove{
    cursor: pointer;
}

.table-container {
    margin-top: 10px;
    min-height: 336px;
    max-height: 400px;
    overflow: auto;
}