.tabs-width{
    max-width: 1000px;
}

.row-buttons{
    text-align: end;
}

.mat-elevation-z4{
    box-shadow: none;
}

.tab-heading{
    font-size: 20px;
    font-weight: 300;
    text-align: center;
}

.full-width{
    width: 100%;
}

.align-right{
    text-align: right;
}

.disappear-button::-webkit-outer-spin-button,
.disappear-button::-webkit-inner-spin-button {
  display: none;
}

.disappear-button {
    -moz-appearance: textfield;
  }