<div class="card">
    <div class="information-card d-flex justify-content-between">
        <mat-form-field>
            <mat-label>Today's Date</mat-label>
            <input matInput [matDatepicker]="picker1" [formControl]="date">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker 
                #picker1 
                startView="multi-year"
                (yearSelected)="chosenYearHandler($event)"
                (monthSelected)="chosenMonthHandler($event, picker1)"
                panelClass="example-month-picker"
            ></mat-datepicker>
        </mat-form-field>
        <div class="d-flex justify-row-reverse">
            <button 
                matTooltip="Create"
                matTooltipPosition='below'
                mat-fab color="primary"
                (click)="openDialogBox()"
                class="mr-2"
            >+</button>
            <button
                mat-fab
                color="accent"
                matTooltip="Update"
                matTooltipPosition='below'
            ><i class="fa fa-sign-out"></i></button>
        </div>
    </div>
</div>