.mat-drawer-container {
    background-color: transparent;
}

.top-nav {
    padding: 10px;
    background-color: #3F51B5;
    display: flex;
}

.top-nav-heading {
    font-family: 'Lato';
    font-size: 22px;
    margin: 0px 0px 0px;
    letter-spacing: 2px;
    margin: 0 auto;
}

.bar-icon{
    font-size: 2vw;
    margin-top: 4px;
    color: white;
    cursor: pointer;
}

.sidenav-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.sidenav-contents {
    padding: 10px 40px;
    height: 100%;
    display: flex;
}

.cross-icon {
    cursor: pointer;
    font-size: 2vw;
    margin-top: 4px;
    margin-left: 16px;
}